@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Rubik:wght@300&display=swap');

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
}  

h2{
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

h3{
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
}

h4{
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

p{
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.hero{
  background-image: url('https://i.imgur.com/QkRzPgt.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}

.restaurantPhoto{
  width: '50%';
  height: 'auto';
}

.image.is-224x224{
  height: 224px;
  width: 224px;
}
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.hide{
  display: none;
}

.has-background-orange-lighter{
  background-color: #C9A788!important;
}